body {
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    color: #FAFAFF;
    text-align: center;
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: #1E2749;
    border-radius: 10px;
    display: inline-flex;
}

.navbar a {
    padding: 20px;
    text-decoration: none;
    color: #FAFAFF;
    font-size: 25px;
}

.navbar :hover {
    background-color: #E4D9FF;
    color: #1E2749;
    cursor: pointer;
}

img {
    width: 900px;
    height: 600px;
    border-color: #FAFAFF;
    border-style: solid;
    border-radius: 10px;
}

h1 {
    color: #E4D9FF;
    font-size: 70px;
}

h2 {
    font-size: 25px;
}

.downloadb {
    font-size: 30px;
    background-color: #E4D9FF;
    color: #1E2749;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;

    box-shadow:  0 0 20px 1px black;
}
