body {
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    color: #FAFAFF;
    text-align: center;
}

.navbar {
    display: block;
    padding: 10px 20px;
    background-color:#2C2C34;
    
}

.navbutton {
    font-size: 20px;
    cursor: pointer;
    background-color: #E4D9FF;
    color: #1E2749;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

img {
    width: 900px;
    height: 600px;
    border-color: #FAFAFF;
    border-style: solid;
    border-radius: 10px;
}

h1 {
    color: #E4D9FF;
    font-size: 60px;
}

h2 {
    font-size: 20px;
}

.downloadb {
    font-size: 30px;
    background-color: #E4D9FF;
    color: #1E2749;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;

    box-shadow:  0 0 20px 1px black;
}

form {
    border: 2px;
    border-style: solid;
}

