body {
    background-image: url(../Images/background.jpg);
background-repeat: no-repeat;
  background-attachment: fixed;    font-family: sans-serif;
    color: #FAFAFF;
    text-align: center;
}


img {
    width: 900px;
    height: 600px;
    border-color: #FAFAFF;
    border-style: solid;
    border-radius: 10px;
}

button {
    font-size: 30px;
}

h1 {
    color: #E4D9FF;
    font-size: 60px;
}

h2 {
    font-size: 20px;
}

button {
    background-color: #E4D9FF;
    color: #1E2749;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;

    box-shadow:  0 0 20px 1px black;
}

form {
    border: 2px;
    border-style: solid;
}

